---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	href: string;
	alt: string;
	classContainer: string;
	classImg: string;
	classTitle: string;
}

const { href, alt, title, classContainer, classImg, classTitle } = Astro.props;

var any:any;
---

<div class={classContainer}>
	{
		href === "" ?
			any
		: 
			<Image src={href}  alt={alt} class={classImg} width="1" height="1"/>
	}
	<h2 class={classTitle}>
		{title}
	</h2>
	<slot />
</div>
