---
import { any } from 'astro/zod';

interface Props {
	title: string;
	href: string;
	classContainer: string;
	classImg: string;
	classTitle: string;
}

const { href, title, classContainer, classImg, classTitle } = Astro.props;
---

<div class={classContainer}>
	{
		href === "" ?
			any
		: 
			<img src={href} class={classImg}/>
	}
	<h2 class={classTitle}>
		{title}
	</h2>
	<slot />
</div>
