---
const proyects = [
    {
        slide: 1, 
        carousel: 0,
        target: "scriptforze",
        img: {
            img1: "/ScriptForze/scriptforze1.JPG",
            img2: "/ScriptForze/scriptforze2.JPG",
            img3: "/ScriptForze/scriptforze3.JPG",
            img4: "/ScriptForze/scriptforze4.JPG",
            img5: "/ScriptForze/scriptforze5.JPG",
            img6: "/ScriptForze/scriptforze6.JPG",
            img7: "/ScriptForze/scriptforze7.JPG",
            img8: "/ScriptForze/scriptforze8.JPG",
            img9: "/ScriptForze/scriptforze8.JPG",
        },
        msg: {
            msg1: "This is a Landing page",
            // msg2: "of a company called",
            // msg3: "YonkersGarage.",
            // msg4: "YonkersGarage.",
            // msg5: "ScriptForze",
            // msg6: " An E-commerce with",
            // msg7: "its own backoffice.",
            // msg8: "This project was made",
            // msg9: "with Next.Js and NestJs.",

        },
        // This is a Landing page of a company called Yonkersgarage. An E-commerce with its own backoffice. This project was made with Next.js and Nestjs.
        title: "Frontend",
        sortDescription: "E-commerce company and Backoffice",
    },
    {
        slide: 2, 
        carousel: 1,
        target: "colegium",
        img: {
            img1: "/Colegium/colegium1.png",
            img2: "/Colegium/colegium2.png",
            img3: "/Colegium/colegium3.png",
            img4: "/Colegium/colegium4.png",
            img5: "/Colegium/colegium5.png",
            img6: "/Colegium/colegium6.png",
            img7: "/Colegium/colegium7.png",
            img8: "/Colegium/colegium8.png",
            img9: "/Colegium/colegium8.png",
        },
        msg: {
            msg1: "Statistical flow",
            // msg2: "management and",
            // msg3: "intranet setup and",
            // msg4: "maintenance.",
            // msg5: "Colegium",
            // msg6: "Made with Node,",
            // msg7: "Node,",
            // msg8: "Postgresql",
            // msg9: " and NodeJs.",
        },
        title: "iOS Developer",
        sortDescription: "Mobile social network",
    },//Statistical flow management and intranet setup and maintenance. Made with Node, Postgresql and NodeJs.
    // {
    //     slide: 3, 
    //     carousel: 2,
    //     target: "mrdomii",
    //     img: {
    //         img1: "/MrDomii/slider.png",
    //         img2: "/MrDomii/domii.png",
    //         img3: "/MrDomii/YonkersGarage.png",
    //         img4: "/MrDomii/YonkersGarage.png",
    //         img5: "/MrDomii/cardDomii.jpg",
    //         img6: "Web FullStack",
    //         img7: "E-commerce with Laravel",
    //         img8: "E-commerce with Laravel",
    //     },
    //     msg: {
    //         msg1: "/MrDomii/slider.png",
    //         msg2: "/MrDomii/domii.png",
    //         msg3: "/MrDomii/YonkersGarage.png",
    //         msg4: "/MrDomii/YonkersGarage.png",
    //         msg5: "/MrDomii/cardDomii.jpg",
    //         msg6: "/Colegium/bannerColegium.png",
    //         msg7: "/Colegium/schoolnet.png",
    //         msg8: "/Colegium/bannerColegium.png",
    //     },
    //     title: "iOS Developer",
    //     sortDescription: "Mobile social network",
    // },
    // {
    //     slide: 4, 
    //     carousel: 3,
    //     target: "sumapos",
    //     img: {
    //         img1: "/SumaPos/Sumapos3.png",
    //         img2: "/SumaPos/Sumapos1.png",
    //         img3: "/SumaPos/Sumapos2.png",
    //         img4: "/SumaPos/YonkersGarage.png",
    //         img5: "/SumaPos/SumaposBanner.JPG",
    //         img6: "Web Developer",
    //         img7: "Web page, landing and Database",
    //         img8: "Web page, landing and Database",
    //     },
    //     msg: {
    //         msg1: "/SumaPos/Sumapos3.png",
    //         msg2: "/SumaPos/Sumapos1.png",
    //         msg3: "/SumaPos/Sumapos2.png",
    //         msg4: "/SumaPos/YonkersGarage.png",
    //         msg5: "/SumaPos/SumaposBanner.JPG",
    //         msg6: "/Colegium/bannerColegium.png",
    //         msg7: "/Colegium/schoolnet.png",
    //         msg8: "/Colegium/bannerColegium.png",
    //     },
    //     title: "iOS Developer",
    //     sortDescription: "Mobile social network",
    // },
    // {
    //     slide: 5, 
    //     carousel: 4,
    //     target: "vlooping",
    //     img: {
    //         img1: "/Vlooping/reply.png",
    //         img2: "/Vlooping/audio-record.png",
    //         img3: "/Vlooping/donations.png",
    //         img4: "/Vlooping/more-content.png",
    //         img5: "/Vlooping/new-message.jpg",
    //         img6: "/Vlooping/more-content.png",
    //         img7: "/Vlooping/new-message.jpg",
    //         img8: "/Vlooping/new-message.jpg",
    //     },
    //     msg: {
    //         msg1: "/Vlooping/reply.png",
    //         msg2: "/Vlooping/audio-record.png",
    //         msg3: "/Vlooping/donations.png",
    //         msg4: "/Vlooping/more-content.png",
    //         msg5: "/Vlooping/new-message.jpg",
    //         msg6: "/Colegium/bannerColegium.png",
    //         msg7: "/Colegium/schoolnet.png",
    //         msg8: "/Colegium/bannerColegium.png",
    //     },
    //     title: "iOS Developer",
    //     sortDescription: "Mobile social network",
    // },
    // {
    //     slide: 6, 
    //     carousel: 5,
    //     target: "realstaters",
    //     img: {
    //         img1: "/Realstaters/blog.png",
    //         img2: "/Realstaters/api.png",
    //         img3: "/Realstaters/property.png",
    //         img4: "/Realstaters/sms.png",
    //         img5: "/Realstaters/home1.jpg",
    //         img6: "Web Designer",
    //         img7: "Website design",
    //         img8: "Website design",
    //     },
    //     msg: {
    //         msg1: "/Realstaters/blog.png",
    //         msg2: "/Realstaters/api.png",
    //         msg3: "/Realstaters/property.png",
    //         msg4: "/Realstaters/sms.png",
    //         msg5: "/Realstaters/home1.jpg",
    //         msg6: "/Colegium/bannerColegium.png",
    //         msg7: "/Colegium/schoolnet.png",
    //         msg8: "/Colegium/bannerColegium.png",
    //     },
    //     title: "iOS Developer",
    //     sortDescription: "Mobile social network",
    // },
]
interface Props {
	targets: string;
}

const { targets } = Astro.props;
---

<!-- Main modal -->
{proyects.map(({ slide, carousel, target, title, sortDescription }) => (
    targets === target ? 
        <div id={`${target}-modal`} class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-primary">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        {target}
                    </h3>
                    <button 
                        type="button" 
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" 
                        data-modal-toggle={`${target}-modal`}
                    >
                        <svg 
                            class="w-3 h-3" 
                            aria-hidden="true" 
                            xmlns="http://www.w3.org/2000/svg" 
                            fill="none" 
                            viewBox="0 0 14 14"
                        >
                            <path 
                                stroke="currentColor" 
                                stroke-linecap="round" 
                                stroke-linejoin="round" 
                                stroke-width="2" 
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                            />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5">
                    <p class="text-gray-500 dark:text-gray-400 mb-4">Select your desired position:</p>
                    <ul class="mb-4">
                        <li>
                            <div class="relative w-[320px] my-0 mx-[auto] [perspective:1000px]">
                                <div class="absolute w-[70%] h-full [transform-style:preserve-3d] animate-[rotate360_300s_infinite_forwards_linear]">
                                    {proyects.map((project) => (
                                        <div class="">
                                        {Object.values(project.img).map((imgUrl, imgIndex) => (
                                            <div class={`carousel__face bg-[url("https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=480,height=720/catalog/crunchyroll/765ee047befcfb677d169f5de4c82d5c.jpe")] [transform:rotateY(${imgIndex * 40}deg)_translateZ(230px)] w-[200px] h-[200px top-[20px] left-[10px] right-[10px] bg-cover [box-shadow:inset_0_0_0_2000px_rgba(0,0,0,0.5)] flex`}>
                                                {Object.values(project.msg).map((msg) => (
                                                    <span class="m-auto text-[0.5rem]">{msg}</span>
                                                ))}
                                            </div>
                                        ))}
                                        </div>
                                    ))}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Next step
                    </button>
                </div>
            </div>
        </div>
    : null
))}

<!-- <style> 
    .carousel__face { 
        position: absolute;
        /* width: 300px;
        height: 187px; */
        top: 20px;
        left: 10px;
        right: 10px;
        background-size: cover;
        box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
        display: flex;
    }
</style> -->
{
    <style>
        {proyects.map((project, index) => (
            `.carousel__face:nth-child(${index + 1}) {
            background-image: url(${Object.values(project.img)[0]});
            transform: rotateY(${index * 40}deg) translateZ(230px);
            width: 200px;
            height: 200px;
            top: 20px;
            left: 10px;
            right: 10px;
            background-size: cover;
            box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
            display: flex;
            }`
        ))}
    </style>
}

<style>
    @keyframes rotate360 {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(-360deg);
        }
    }
</style>
