---
import Card from './Card.astro';

const cards = {
    cardsArray: [
        {
            title: "Next.Js",
            component: "/SkillsIcon/Next.js_wordmark_dark.svg",
        },
        {
            title: "Node.Js",
            component: "/SkillsIcon/nodejs.svg",
        },
        {
            title: "Typescript",
            component: "/SkillsIcon/typescript.svg",
        },
        {
            title: "Vue.Js",
            component: "/SkillsIcon/vue.svg",
        },
        {
            title: "Laravel",
            component: "/SkillsIcon/laravel.svg",
        },
        {
            title: "AWS Server",
            component: "/SkillsIcon/aws.svg",
        },
        {
            title: "Python",
            component: "/SkillsIcon/python.svg",
        },
        {
            title: "PostgreSQL",
            component: "/SkillsIcon/postgresql.svg",
        },
    ],
    cardsArrayTwo: [
        { 
            title: "OpenAI",
            component: "/SkillsIcon/OpenAI_dark.svg",
        },
        {
            title: "JavaScript",
            component: "/SkillsIcon/javascript.svg",
        },
        {
            title: "GraphQL",
            component: "/SkillsIcon/graphql.svg",
        },
        {
            title: "PNPm",
            component: "/SkillsIcon/Pnpm_wordmark_dark.svg",
        },
        {
            title: "Postman",
            component: "/SkillsIcon/postman.svg",
        },
        {
            title: "React",
            component: "/SkillsIcon/react.svg",
        },
        {
            title: "Swagger",
            component: "/SkillsIcon/swagger.svg",
        },
        {
            title: "CSS-3",
            component: "/SkillsIcon/css.svg",
        },
    ],
    cardsArrayThree: [
        {
            title: "HTML-5",
            component: "/SkillsIcon/html5.svg",
        },
        {
            title: "Tailwind CSS",
            component: "/SkillsIcon/tailwindcss.svg",
        },
        {
            title: "Git Source Control",
            component: "/SkillsIcon/git.svg",
        },
    ],
    cardsArrayFour: [
        {
            title: "Java",
            component: "/SkillsIcon/java.svg",
        },
        {
            title: "Docker",
            component: "/SkillsIcon/docker.svg",
        },
    ],
};

let a;
---

<section class="w-11/12 m-auto pt-28 lg:-mb-36">
    <h1 class="text-white pb-5 text-center font-sans font-semibold text-3xl sm:pb-10 sm:text-5xl lg:text-6xl lg:py-16">
        My Skills
    </h1>
    <div class="grid gap-y-8 grid-cols-2 sm:grid-cols-4 w-full h-full">
        {cards.cardsArray.map(({title, component}) => {
            const borderColor = Math.random() < 0.5 ? 'outline outline-1 outline-skin' : '';
            return (
                <Card
                    title={title}
                    alt={title} 
                    href={component}
                    classContainer={`${borderColor} bg-primary shadow-[0px_0px_25px_10px_#272b36] grow justify-self-center p-8 w-11/12 h-11/12 max-w-52 max-h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 rounded-3xl hover:bg-skin items-center`}
                    classImg="m-auto w-12 h-12 lg:w-20 lg:h-20"
                    classTitle="dark:text-white text-center text-xs pt-3 lg:text-xl lg:pt-8"
                />
            );
        })}
    </div>
    <div
        data-collapse="animated-collapse-1"
        class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
        <div class="grid gap-y-8 grid-cols-2 pt-8 sm:grid-cols-4">
            {cards.cardsArrayTwo.map(({title, component}) => {
                const borderColor = Math.random() < 0.5 ? 'outline outline-1 outline-skin' : '';
                return (
                    <Card
                        title={title}
                        alt={title} 
                        href={component}
                        classContainer={`${borderColor} bg-primary shadow-[0px_0px_25px_10px_#272b36] justify-self-center p-8 w-32 md:w-40 md:h-40 h-32 lg:w-52 lg:h-52 rounded-3xl hover:bg-skin items-center`}
                        classImg="m-auto w-12 h-12 lg:w-20 lg:h-20"
                        classTitle="dark:text-white text-center text-xs pt-3 lg:text-xl lg:pt-8"
                    />
                );
            })}
        </div>
    </div>
    <div class="hidden w-3/4 m-auto pt-8 sm:grid sm:grid-cols-3">
        {cards.cardsArrayThree.map(({title, component}) => {
            const borderColor = Math.random() < 0.5 ? 'outline outline-1 outline-skin' : '';
            return (
                <Card
                    title={title}
                    alt={title} 
                    href={component}
                    classContainer={`${borderColor} bg-primary shadow-[0px_0px_25px_10px_#272b36] justify-self-center p-6 w-11/12 h-11/12 max-w-52 max-h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 rounded-3xl hover:bg-skin items-center`}
                    classImg="m-auto w-11 h-11 lg:w-20 lg:h-20"
                    classTitle="dark:text-white text-center text-[10px] pt-3 lg:text-xl lg:pt-8"
                />
            );
        })}
    </div>
    <div class="w-1/2 m-auto pt-8 grid gap-y-8 grid-cols-1 sm:grid-cols-2">
        {cards.cardsArrayFour.map(({title, component}) => {
            const borderColor = Math.random() < 0.5 ? 'outline outline-1 outline-skin' : '';
            return (
                <Card
                    title={title}
                    alt={title} 
                    href={component}
                    classContainer={`${borderColor} bg-primary shadow-[0px_0px_25px_10px_#272b36] justify-self-center p-8 w-11/12 h-11/12 max-w-52 max-h-52 md:w-40 md:h-40 lg:w-52 lg:h-52 rounded-3xl hover:bg-skin items-center`}
                    classImg="m-auto w-12 h-12 lg:w-20 lg:h-20"
                    classTitle="dark:text-white text-center text-xs pt-3 lg:text-xl lg:pt-8"
                />
            );
        })}
    </div>
    <div class="hidden sm:flex sm:justify-center sm:relative sm:top-10">
        <button
            class="relative flex items-center w-60 p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-skin text-skin rounded-t-1 group text-dark-500"
            data-collapse-target="animated-collapse-1"
        >
            <span>Do you see more?</span>
            <i class="absolute right-5 text-base transition-transform group-open:rotate-180">
                <span
                    class="ms-auto transition-transform duration-200 ease-in-out group-data-[twe-collapse-collapsed]:me-0 group-data-[twe-collapse-collapsed]:rotate-0 motion-reduce:transition-none [&>svg]:h-6 [&>svg]:w-6">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 8.25l-7.5 7.5-7.5-7.5" 
                        />
                    </svg>
                </span>
            </i>
        </button>
    </div>  
    <div class="relative bottom-32 left-[80%] grid grid-cols-2 grid-rows-2 gap-y-6 w-1/4 sm:hidden">
        {Array.from({length: 4}, (_, index) => {
            let a = Math.floor(Math.random() * (5 - 4 + 1)) + 4;
            return <div class={`w-${a} h-${a} bg-skin bg-opacity-25 rounded-full`} />;
        })}
    </div>
    <div class="hidden sm:relative sm:bottom-32 sm:left-[80%] sm:grid sm:grid-cols-3 sm:grid-rows-3 sm:gap-y-10 sm:w-1/4 lg:hidden">
        {Array.from({length: 9}, (_, index) => {
            let a = Math.floor(Math.random() * (5 - 4 + 1)) + 4;
            return <div class={`w-${a} h-${a} bg-skin bg-opacity-25 rounded-full`} />;
        })}
    </div>  
    <div class="hidden lg:relative lg:bottom-32 lg:left-[750px] lg:grid lg:grid-cols-4 lg:grid-rows-4 lg:gap-y-16 lg:w-1/4">
        {Array.from({length: 16}, (_, index) => {
            let a = Math.floor(Math.random() * (5 - 4 + 1)) + 4;
            return <div class={`w-${a} h-${a} bg-skin bg-opacity-25 rounded-full`} />;
        })}
    </div>
</section>
