---
import Card from './Card.astro';

const cards = {
    cardsArray: [
        {
            title: "Next.Js",
            component: "/SkillsIcon/Next.js_wordmark_dark.svg",
        },
        {
            title: "Node.Js",
            component: "/SkillsIcon/nodejs.svg",
        },
        {
            title: "Typescript",
            component: "/SkillsIcon/typescript.svg",
        },
        {
            title: "Vue.Js",
            component: "/SkillsIcon/vue.svg",
        },
        {
            title: "Laravel",
            component: "/SkillsIcon/laravel.svg",
        },
        {
            title: "AWS Server",
            component: "/SkillsIcon/aws.svg",
        },
        {
            title: "Python",
            component: "/SkillsIcon/python.svg",
        },
        {
            title: "PostgreSQL",
            component: "/SkillsIcon/postgresql.svg",
        },
        {
            alt: "ñlasdjñlajsdfñlkfjasñdlkfjñlaksjdfñlkjasñldkfjañlksdfñlajslfkjañlksdjfñlkjahlkjlkjhkljhlkjhlkjlkjhkjhljhñkld",
            title: "OpenAI",
            component: "/SkillsIcon/OpenAI_dark.svg",
        },
        {
            title: "JavaScript",
            component: "/SkillsIcon/javascript.svg",
        },
        {
            title: "GraphQL",
            component: "/SkillsIcon/graphql.svg",
        },
        {
            title: "PNPm",
            component: "/SkillsIcon/Pnpm_wordmark_dark.svg",
        },
        {
            title: "Postman",
            component: "/SkillsIcon/postman.svg",
        },
        {
            title: "React",
            component: "/SkillsIcon/react.svg",
        },
        {
            title: "Swagger",
            component: "/SkillsIcon/swagger.svg",
        },
        {
            title: "CSS-3",
            component: "/SkillsIcon/css.svg",
        },
    ],
    cardsArrayTwo: [
        {
            title: "HTML-5",
            component: "/SkillsIcon/html5.svg",
        },
        {
            title: "Tailwind CSS",
            component: "/SkillsIcon/tailwindcss.svg",
        },
        {
            title: "Git Source Control",
            component: "/SkillsIcon/git.svg",
        },
    ],
    cardsArrayThree: [
        {
            title: "Java",
            component: "/SkillsIcon/java.svg",
        },
        {
            title: "Docker",
            component: "/SkillsIcon/docker.svg",
        },
    ],
};

---

<section class="w-11/12 m-auto">
    <h1 class="text-white pb-5 text-center font-sans font-semibold text-3xl sm:pb-10 sm:text-5xl lg:pt-32 lg:text-6xl lg:pb-10 lg:pl-32">
        My Skills
    </h1>
    <div class="grid gap-y-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        {
            cards.cardsArray.map(({title, component}) => (
                <Card
                    title={title} 
                    href={component}
                    classContainer="bg-primary shadow-[0px_0px_25px_10px_#272b36] justify-self-center p-10 w-60 h-60 rounded-3xl hover:bg-skin items-center"
                    classImg="m-auto w-20 h-20"
                    classTitle="text-xl text-white pt-10 text-center"
                />
            ))      
        }
    </div>
    <div class="w-3/4 m-auto pt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        {
            cards.cardsArrayTwo.map(({title, component}) => (
                <Card
                    title={title} 
                    href={component}
                    classContainer="bg-primary shadow-[0px_0px_25px_10px_#272b36] justify-self-center p-10 w-60 h-60 rounded-3xl hover:bg-skin items-center"
                    classImg="m-auto w-20 h-20"
                    classTitle="text-xl text-white pt-10 text-center"
                />
            ))      
        }
    </div>
    <div class="w-1/2 m-auto pt-8 grid gap-y-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2">
        {
            cards.cardsArrayThree.map(({title, component}) => (
                <Card
                    title={title} 
                    href={component}
                    classContainer="bg-primary shadow-[0px_0px_25px_10px_#272b36] justify-self-center p-10 w-60 h-60 rounded-3xl hover:bg-skin items-center"
                    classImg="m-auto w-20 h-20"
                    classTitle="text-xl text-white pt-10 text-center"
                />
            ))      
        }
    </div>
</section>
